
.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  background-color: #ddd;
  padding: 20px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  display: none;
}

.dropdown:hover > .dropdown-content {
  display: block;
}