


.row {
  display: flex;
  flex-wrap: wrap;
}

.content {
  height: 100px;
  background-color: cyan;
  border: solid navy;
  margin: 5px;
}

/* Mobile First */
.col {
  width: 100%;
}

/* Tablet 601px - 900px */
@media (min-width: 601px) {
  .col {
    width: 50%;
  }
}

/* Desktop above 901px */
@media (min-width: 901px) {
  .col {
    width: 25%;
  }
}